---
import { changeLanguage } from "i18next";
import Base from "@layouts/Base.astro";
import { motion } from "framer-motion";

changeLanguage("en");
---

<Base>
    <h1 class="text-5xl font-semibold text-white">Now page ! ⬇️</h1>
</Base>
