---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import Base from "@layouts/Base.astro";

changeLanguage("en");

setDefaultNamespace("skills");
const content = {
    title: t("title"),
};
---

<Base forceUseDefaultOgTitle title={content.title}>
    <h1 class="text-[40px] font-semibold text-white">Skills page ! ✨</h1>
</Base>
