---
export interface Props {
  heading?: boolean
  title: string
}

const { title } = Astro.props as Props
---

<section class="md:px-[12px] w-full flex flex-col gap-[16px]">
  <h2 class="text-white text-[14px] font-semibold uppercase">{title}</h2>
</section>
