---
import Layout from "../layouts/Layout.astro";
import { motion } from "framer-motion";
---

<Layout title="Kylian Bardini - Dev Full Stack | Explorer" lang="fr">
    <h1 class="text-5xl font-semibold text-white">Hello from Astro ! 🚀</h1>
</Layout>
