---
import { changeLanguage, setDefaultNamespace, t } from 'i18next'
import Base from '@layouts/Base.astro'

changeLanguage('fr')

setDefaultNamespace('home')
const content = {
  title: t('title'),
}
---

<Base forceUseDefaultOgTitle title={content.title}>
  <h1 class="text-[40px] font-semibold text-white">Hello from Astro ! 🚀</h1>
</Base>
