---
let year = new Date().getFullYear();
---

<footer
  class="ml-[244px] flex justify-center gap-[24px] p-[32px] text-[16px] text-white border-t border-black-3"
>
  <p>
    Built with <a
      href="https://astro.build"
      class="text-grey-1 hover:text-white transition-all">{Astro.generator}</a>
  </p>
  <span class="text-grey-1">°</span>
  <p>
    Hosted on <a
      href="https://vercel.com"
      class="text-grey-1 hover:text-white transition-all">Vercel</a>
  </p>
  <span class="text-grey-1">°</span>

  <p class="text-grey-1">©{year} Kylian Bardini</p>
</footer>
