---
import '@app/styles/app.css'
import '@app/styles/markdown.scss'
import i18next, { t, setDefaultNamespace } from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import { SEO } from 'astro-seo'
setDefaultNamespace('seo')

export interface Props {
  forceUseDefaultOgTitle?: boolean
  title?: string
  description?: string
  ogTitle?: string
  ogType?: 'website' | 'article'
  ogImage?: string
  ogImageAlt?: string
  ogDescription?: string
}

const {
  forceUseDefaultOgTitle = false,
  title = t('defaultTitle') as string,
  description = t('defaultDescription') as string,
  ogTitle = forceUseDefaultOgTitle
    ? (t('defaultOgTitle') as string)
    : title ?? (t('defaultOgTitle') as string),
  ogType = 'website',
  ogImage = t('defaultOgImage') as string,
  ogImageAlt = t('defaultOgImageAlt', { title: ogTitle }) as string,
  ogDescription = description,
} = Astro.props

const lang = i18next.language

import Nav from '@components/Nav.astro'
import Footer from '@components/Footer.astro'
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="Kylian Bardini" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/startup.png" rel="apple-touch-startup-image" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <HeadHrefLangs />
    <SEO
      title={title}
      description={description}
      titleDefault={t('defaultTitle')!}
      titleTemplate={t('titleTemplate')!}
      openGraph={{
        basic: {
          title: ogTitle,
          image: ogImage,
          type: ogType,
        },
        image: {
          alt: ogImageAlt,
          width: 1200,
          height: 627,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        site: '@kbrdn1',
        creator: '@kbrdn1',
        title: ogTitle,
        description: ogDescription,
        image: ogImage,
        imageAlt: ogImageAlt,
      }}
    />
  </head>
  <body class="bg-black-1 font-body">
    <Nav />
    <main
      class="xl:ml-[244px] md:pt-[150px] pt-[120px] lg:pt-[120px] pb-[64px] flex md:justify-center"
    >
      <div class="md:w-[768px] px-[24px] xl:px-[36p] flex flex-col gap-[24px]">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
